html {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: verdana;

}
body {
    background-color: rgb(241, 187, 237);
    padding: 20px;
  }
  h1 {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
  form label, form select, form input {
    display: block;
    margin-bottom: 10px;
  }
label {
    background-color: rgb(136, 116, 146);
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

select {
    background-color: #cc668a; 
    color: #131313; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;              
    font-size: 18px;         
    padding: 8px 12px;         
    border: 2px solid #9576f2; 
    margin-bottom: 10px;     
    width: 200px;    
}

option {
    background-color: rgb(98, 240, 204);
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(238, 57, 114);
}